@charset "UTF-8";

@font-face {
  font-family: "madrin";
  src:url("fonts/madrin.eot");
  src:url("fonts/madrin.eot?#iefix") format("embedded-opentype"),
    url("fonts/madrin.woff") format("woff"),
    url("fonts/madrin.ttf") format("truetype"),
    url("fonts/madrin.svg#madrin") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "madrin" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "madrin" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-2440:before {
  content: "a";
}
.icon-alert:before {
  content: "@";
}
.icon-attention:before {
  content: "`";
}
.icon-audience3:before {
  content: "c";
}
.icon-businessman170:before {
  content: "k";
}
.icon-businessmen6:before {
  content: "o";
  font-size: 150%;
}
.icon-cancel-circled:before {
  content: "\e00e";
}
.icon-cc-by:before {
  content: "\e011";
}
.icon-chart-area:before {
  content: "\e01d";
}
.icon-domain1:before {
  content: "w";
}
.icon-email29:before {
  content: "x";
}
.icon-fax1:before {
  content: "A";
}
.icon-flash:before {
  content: "\e052";
}
.icon-flight:before {
  content: "\e057";
}
.icon-home:before {
  content: "\e06c";
}
.icon-law:before {
  content: "D";
  font-size: 150%;
}
.icon-law1:before {
  content: "E";
  font-size: 200%;
}
.icon-linkedin:before {
  content: "\e08a";
}
.icon-location:before {
  content: "\e08e";
}
.icon-meeting1:before {
  content: "S";
}
.icon-men16:before {
  content: "T";
}
.icon-menu:before {
  content: "\e099";
}
.icon-phone:before {
  content: "\e0ae";
}
.icon-plus-circled:before {
  content: "\e0b5";
}
.icon-search:before {
  content: "\e0d3";
}
.icon-tools:before {
  content: "\e0f1";
}
.icon-traffic-cone:before {
  content: "\e0f2";
}
.icon-two199:before {
  content: "-";
}
.icon-under:before {
  content: "\e122";
}
.icon-under3:before {
  content: "\e120";
}
.icon-user:before {
  content: "\e103";
}
.icon-users:before {
  content: "\e105";
}
.icon-water:before {
  content: "\e10c";
}
.icon-wrong6:before {
  content: "\e11e";
}